body{
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    font-family: "Alte Haas Grotesk";
    background-color: #a53030;
}

body::-webkit-scrollbar {
    width: 15px;
    background: #EBEDE9;
}

body::-webkit-scrollbar-thumb{
    background-color: #10141F;
    border-radius: 15px
}

@font-face {
    font-family: "Alte Haas Grotesk";
    src: url(../../font/AlteHaasGroteskRegular.ttf);
    font-display: swap;
}

@font-face {
    font-family: "Boldfinger";
    src: url(../../font/Boldfinger.ttf);
    font-display: swap;
}

@font-face {
    font-family: "Nexa";
    src: url(../../font/Nexa-Heavy.ttf);
    font-display: swap;
}

@font-face {
    font-family: "Valorant";
    src: url(../../font/Valorant.ttf);
    font-display: swap;
}

/*Página Obras - Nav*/

.navbar{
    width: 100%;
    background-color: #ebede967;
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    box-shadow: 0 2px 10px rgba(9, 10, 20, 0.4);
    position: fixed;
    top: 0;
    z-index: 999;
}

.navbar-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 20px;
}

.logo{
    display: flex;
    flex-direction: column;
}

.logo a{
    font-family: "Valorant", sans-serif;
    font-size: 35px;
    font-weight: 900;
    letter-spacing: 4px;
    color: #090A14;
    text-decoration: none;
}

.subtitle{
    font-family: "Noto Sans JP", sans-serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 4px;
    color: #458CF4;
    margin-top: -5px;
    margin: -5px 85px 0;
}

.nav-menu{
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-menu li a {
    font-family: "Nexa", sans-serif;
    font-size: 21px;
    text-decoration: none;
    color: #090A14;
    padding: 5px 10px;
    position: relative;
    transition: color 0.3s, border-bottom 0.2s;
}

.nav-menu li a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #458CF4;
    left: 0;
    bottom: -5px;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

.nav-menu li a:hover,
.nav-menu li a.active {
    color: #458CF4;
}

.nav-menu li a:hover::after,
.nav-menu li a.active::after {
    transform: scaleX(1);
}

.search-container{
    display: flex;
    align-items: center;
    border: #090A14 solid 2.7px;
    border-radius: 50px;
    width: 40rem;
    height: 2.5rem;
    padding: 5px 30px;
}

.search-container input {
    border: none;
    outline: none;
    background: transparent;
    font-size: 19px;
    font-weight: 500;
    padding: 5px;
    width: 30em;
    color: #090A14;
    font-family: "Nexa", sans-serif;
}

.search-container .search-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-button{
    position: relative;
    left: 15px;
}

::placeholder{
    font-family: "Nexa", sans-serif;
    color: #090A14;
    font-size: 20px;
    font-weight: 500;
}

.nav_sign_up a{
    background-color: #090A14;
    border: 2px solid #090A14;
    color: #EBEDE9;
}

.nav_sign_in a{
    border: 2px solid #090A14;
    color: #090A14;
}

.nav_sign_in a, .nav_sign_up a {
    padding: 15px 30px;
    border-radius: 20px;
    font-family: "Nexa", sans-serif;
    text-decoration: none;
    transition: 0.3s ease;
}

.nav_sign_in:hover a, .nav_sign_up:hover a {
    background-color: #458CF4;
    border: 2px solid #458CF4;
    color: #EBEDE9;
}

/*Barra de Pesquisa*/

.search-results {
    position: absolute;
    top: 110px;
    right: 21.2%;
    background-color: #c7cfccd3;
    border-radius: 10px;
    padding: 10px;
    width: 30rem;
    transition: opacity 0.3s;
    opacity: 0;
    visibility: hidden;
    max-height: 500px;
    overflow-y: auto;
}

.search-results.visible {
    opacity: 1;
    visibility: visible;
}

.search-results::-webkit-scrollbar {
    width: 10px;
}

.search-results::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

.search-results::-webkit-scrollbar-thumb {
    background: #10141F;
    border-radius: 15px;
}

.search-result-item {
    position: relative;
    top: 7px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    background-color: rgba(235, 237, 233, 0.9);
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 10px;
}

.search-result-item img {
    position: relative;
    top: 45.5px;
    width: 130px;
    height: 165px;
    object-fit:fill;
    border-radius: 5px;
    margin-right: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.search-result-item a {
    position: relative;
    top: -45px;
    margin: 0;
    text-decoration: none;
    font-size: 19px;
    font-weight: bold;
    color: #090A14;
    transition: 0.2s ease;
}

.search-result-item a:hover{
    color: #458CF4;
    transition: 0.2s ease;
}

.search-result-item p {
    position: relative;
    top: -55px;
    left: 5px;
    margin: 5px 0 0;
    font-size: 16px;
    font-weight: bolder;
    color: #202e37;
}

.search-result-item svg{
    position: relative;
    top: 8px;
    left: -5px;
}

/*Página Obras - ínicio*/

.imagen-main {
    background-image: url(./JoJo’s-Bizarre-Adventure-Part-1_preview.jpg);
    background-size: cover;
    background-position: center;
    height: 90vh;
    position: relative;
}

.color-background-first{
    position: absolute;
    background-image: linear-gradient(to top, #a53030, #a5303091, transparent);
    width: 100%;
    height: 75%;
    top: 25.3%;
    left: 0;
    z-index: 2;
}

.color-background-second{
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.container-projeto {
    position: relative;
    z-index: 2;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.container-projeto h3 {
    font-size: 3rem;
    font-family: "Nexa";
    margin: 5rem auto 0.5rem 11.7rem;
}

.container-projeto .alt-title {
    font-size: 17px;
    font-family: "Nexa";
    color: #a8b5b2;
    margin: 0.1rem auto 0.5rem 11.7rem;
}

.container-projeto .info {
    font-size: 1.2rem;
    margin-top: 0.1rem;
    margin-left: 11.7rem;
    word-spacing: 0.5rem;
}

.container-projeto hr {
    margin: 1.5rem auto;
    width: 80%;
    border: 0;
    border-top: 1px solid #EBEDE9;
}

.contentprojeto {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 1rem;
    margin-left: 11.5rem;
    flex-wrap: nowrap;
}

.portrait {
    width: 265px;
    height: 375px;
    flex-shrink: 0;
    box-shadow: 0 5px 10px #090a148a;
}

.portrait img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.position-content {
    max-width: 60rem;
    text-align: left;
    margin-top: -2rem;
}

.position-content h4 {
    font-size: 21px;
    margin-bottom: 1rem;
}

.position-content p {
    font-size: 21px;
    line-height: 1.0;
}

.tags {
    margin: 1rem auto;
}

.tag {
    display: inline-block;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
    color: #EBEDE9;
    border: 2px solid #EBEDE9;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
    transition: 0.3s ease;
}

.tag:hover{
    background-color: #a53030;
    border-color: #a53030;
    color: #EBEDE9;
    font-weight: bold;
}

.objects-elements{
    margin-top: 1rem;
    display: flex;
    justify-content: flex-start;
}

#elements{
    position: relative;
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    margin-right: 15px;
    left: 15px;
}

.rating {
    display: inline-flex;
    align-items: center;
    position: relative;
}

.tooltip {
    position: absolute;
    background: #ebede98c;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    white-space: nowrap;
    font-size: 16px;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out;
    box-sizing: border-box;
    border-radius: 10px;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
}

.tooltip:before {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 7px;
    border-color: transparent transparent #ebede98c transparent;
    top: -42%;
    left: 50%;
    transform: translateX(-50%);
}

.rating:hover .tooltip {
    opacity: 1;
    visibility: visible;
}

.avise {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.avise .tooltip {
    position: absolute;
    background: #ebede98c;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    white-space: nowrap;
    font-size: 16px;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out;
    box-sizing: border-box;
    border-radius: 10px;
    top: 60px;
    left: 25%;
    transform: translateX(-25%);
}

.avise .tooltip:before {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 7px;
    border-color: transparent transparent #ebede98c transparent;
    top: -42%;
    left: 30%;
    transform: translateX(-30%);
}

.avise:hover .tooltip {
    opacity: 1;
    visibility: visible;
}

.star {
    width: 50px;
    height: 50px;
    margin: 0 2px;
}

/*Página Obras - Texto*/

.object-position{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -2rem auto;
}

.object{
    display: block;
}

.object-position h3{
    font-size: 42px;
    color: #EBEDE9;
}

.svg-UI img{
    position: relative;
    width: 80px;
    height: 80px;
    margin-top: -3rem;
    left: 50px;
}

/*Página Obra - Capítulos*/

.chapter-position{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.chapter-position::before {
    content: '';
    position: absolute;
    top: 65%;
    left: 12.5%;
    width: 75%;
    height: 100px;
    background: linear-gradient(transparent, #a53030, #a53030);
    transition: opacity 0.5s ease;
    z-index: 1;
}

.chapter-position.hide-gradient::before {
    opacity: 0;
}

.all_chapter_wrapper{
    width: 90rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    background-color: #a53030;
}

.search-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}

.search-chapter{
    display: flex;
    align-items: center;
    background-color: #ebede9b7;
    border-radius: 20px;
    width: 55rem;
    height: 2.8rem;
    padding: 5px 30px;
    margin: 3rem 15rem;
}

.search-chapter input{
    border: none;
    outline: none;
    background: transparent;
    font-size: 19px;
    font-weight: 500;
    font-family: "Nexa", sans-serif;
    padding: 5px;
    width: 44em;
    color: #090A14;
}

.search-chapter-button{
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-sort-wrapper {
    margin: auto auto auto -13rem;
}

.chapter-class {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ebede9b7;
    padding: 10px;
    transform: rotate(90deg);
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 10px;
}

.all_chapter{
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2vw;
    width: 85rem;
    margin: -1rem 40px 30px;
    gap: 10px;
}

.chapter-item {
    border: 2px solid #EBEDE9;
    border-radius: 10px;
    padding: 30px 30px;
    text-align: center;
    position: relative;
}

.chapter-item a{
    color: #EBEDE9;
    font-weight: bold;
    text-decoration: none;
}

.hidden-chapter {
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: opacity 0.5s ease, transform 0.5s ease;
    z-index: 2;
}

.hidden-chapter.show {
    position: relative;
    opacity: 1;
    transform: scaleY(1);
}

.show {
    max-height: 500px;
}

.hide {
    max-height: 0;
}

.highlight{
    background-color: transparent;
    border: 2px solid #090A14;
}

.highlight a{
    color: #090A14;
}

.more-button{
    margin-top: 1rem;
}

#show-more-button {
    position: relative;
    color: #EBEDE9;
    background-color: transparent;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    margin: 20px auto;
    display: block;
    font-size: 25px;
    font-weight: bold;
    font-family: "Alte Haas Grotesk";
    z-index: 3;
}

.svg-UI-2 img{
    position: relative;
    margin-top: -2rem;
    left: 42.2rem;
    width: 80px;
    height: 80px;
    z-index: 2;
}

/*Página Obra - Gostou*/

.like-position{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.like-position hr{
    margin: 1.5rem auto;
    width: 80%;
    border: 0;
    border-top: 1px solid #EBEDE9;
}

.like-position h3{
    position: relative;
    color: #EBEDE9;
    font-size: 32px;
    left: -28rem;
    top: -1.5rem;
    letter-spacing: 10px;
}

.obras-likes-position{
    background-color: #ebede92f;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.obras-likes{
    position: relative;
    background-color: #ebede98c;
    border-radius: 10px;
    width: 210px;
    padding: 10px;
    position: relative;
    text-align: center;
}

.obras-likes img{
    width: 100%;
    height: 275px;
    background-color: #458CF4;
    border-radius: 5px;
    object-fit: initial;
}

.comic__type{
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #090A14;
    color: #E1E2E2;
    padding: 3px 7px;
    font-family: "Nexa";
    font-size: 14px;
    border-radius: 5px 0 0 0;
}

.comic__title{
    color: #090A14;
    font-family: "Nexa";
    font-size: 18px;
    font-weight: bolder;
    margin-top: 10px;
}

.status{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #a8b5b2;
    position: absolute;
    left: 192px;
    top: 15px;
}

#completed{
    background-color: #468232;
}
#in_hiato{
    background-color: #752438;
}
#in_progress{
    background-color: #de9e41;
}

/*Página Obra - Final*/

.footer-style{
    background-color: #090A14;
    color: #EBEDE9;
    padding: 25px 20px;
    clear: both;
    margin-top: 150px;
}

.imagen-text-position h3{
    position: relative;
    float: right;
    padding: 0 40px;
}

#imagen-text{
    margin-left: 30px;
}

.social-network a{
    float: right;
    margin: -60px 50px 0 2px;
}

hr{
    position: relative;
    width: 97%;
    margin: 30px;
    box-sizing: border-box;
}

.style-text{
    display: flex;
    justify-content: center;
    align-items: center;
}

.style-text p{
    width: 85%;
    height: 10%;
    font-family: "Alte Haas Grotesk";
    font-size: 23px;
    color: #EBEDE9;
    text-align: center;
}